<h1>Enter New Player Detail</h1>
<%= simple_form_for @player do |f| %>
	<%= f.input :player %>
	<%= f.input :tour %>
	<%= f.input :email %>
	<%= f.input :quota %>
	</br>
	<%= f.submit 'Create', class: 'btn btn-danger' %>
<% end %>